SAT_WA/Connected Services/GlobalCentral/Global1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.tectos.com.mx/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Global" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.tectos.com.mx/" location="http://www.administratransportefacil.com/CENTRAL_WCF/Global.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IGlobal" type="i0:IGlobal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertaUnidadCentral">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaUnidadCentral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaOperadorCentral">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaOperadorCentral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaCiudadDestinoCentral">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaCiudadDestinoCentral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionClientePublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionClientePublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionConceptoFletePublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionConceptoFletePublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionProductoPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionProductoPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionUbicacionPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionUbicacionPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionClienteServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionClienteServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionConceptoFleteServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionConceptoFleteServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionProductoServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionProductoServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionUbicacionServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionUbicacionServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditaUnidadCentral">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/EditaUnidadCentral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditaOperadorCentral">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/EditaOperadorCentral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaRelacionTransportistaServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IGlobal/InsertaRelacionTransportistaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Global">
    <wsdl:port name="BasicHttpBinding_IGlobal" binding="tns:BasicHttpBinding_IGlobal">
      <soap:address location="http://www.administratransportefacil.com/CENTRAL_WCF/Global.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>