SAT_WA/Connected Services/DespachoCentral/Despacho2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.tectos.com.mx/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Despacho" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.tectos.com.mx/" location="http://www.administratransportefacil.com/CENTRAL_WCF/Despacho.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDespacho" type="i0:IDespacho">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtieneDatosPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneDatosPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicaUnidad">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/PublicaUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienePublicacionesCompania">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtienePublicacionesCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneReporteGeneralPublicaciones">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneReporteGeneralPublicaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneCiudadesPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneCiudadesPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneDatosRespuesta">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneDatosRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespuestaPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/RespuestaPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneCiudadesEventoRespuesta">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneCiudadesEventoRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AceptaRespuestaPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/AceptaRespuestaPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechazaRespuestaPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/RechazaRespuestaPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneRespuestasPublicacion">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneRespuestasPublicacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertaCiudadEventoRespuesta">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/InsertaCiudadEventoRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VisualizarRespuesta">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/VisualizarRespuesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DocumentaServicioUnidad">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/DocumentaServicioUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneDatosServicioUnidad">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneDatosServicioUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaServicioUnidad">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ActualizaServicioUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicaServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/PublicaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VisualizaServiciosPublicados">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/VisualizaServiciosPublicados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespuestaServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/RespuestaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AceptaRespuestaServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/AceptaRespuestaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RechazaRespuestaServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/RechazaRespuestaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneRespuestasServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneRespuestasServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneParadasServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneParadasServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneDatosServicioCentral">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneDatosServicioCentral" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizaServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ActualizaServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicacionesCompania">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/PublicacionesCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienePublicacionUnidad">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtienePublicacionUnidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtieneDatosPublicacionServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtieneDatosPublicacionServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienePublicacionServicio">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ObtienePublicacionServicio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiciosCompania">
      <soap:operation soapAction="http://www.tectos.com.mx/IDespacho/ServiciosCompania" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Despacho">
    <wsdl:port name="BasicHttpBinding_IDespacho" binding="tns:BasicHttpBinding_IDespacho">
      <soap:address location="http://www.administratransportefacil.com/CENTRAL_WCF/Despacho.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>